body {
  margin: 0;
  font-family: 'Inter' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: red;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p,h1,h2,h3,h4,h5,h6,Link{
  font-family: Inter !important;
}

a:hover{
  text-decoration: none !important;
}

ul{
  margin-top: 0!important;
  margin-bottom: 0!important;
}

li{
  list-style: none;
}

.full-container{
  width: 100%;
}

.container-c{
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}