body {
  margin: 0;
  font-family: 'Inter' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: red;
}

*{
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p,h1,h2,h3,h4,h5,h6,Link{
  font-family: Inter !important;
}

a:hover{
  text-decoration: none !important;
}

ul{
  margin-top: 0!important;
  margin-bottom: 0!important;
}

li{
  list-style: none;
}

.full-container{
  width: 100%;
}

.container-c{
  width: 95%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.pagination {
  margin-top: 20px !important;
}

.pagination .pagination-item {
  list-style-type: none;
  padding: 10px;
  background: #fff;
  border-right: 1px solid #c1c1c1;
  border-top: 1px solid #c1c1c1;
  border-bottom: 1px solid #c1c1c1;
  color: white !important;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #3268AE !important;
  font-weight: 600 !important;
}

.pagination .pagination-item.active {
  background: rgba(50, 104, 174, 0.31) !important;
}